<%- include('partials/header') %>

<div class="jumbotron main-display">
  <div class="container">
    <i class="fas fa-hands-helping fa-6x"></i>
    <h1 class="display-3">Sweet Circle</h1>
    <p class="lead">Always stay upto date with your circle!</p>

    <div class="container mt-5">
      <!-- <h1>Login</h1> -->

      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">

              <!-- Makes POST request to /login route -->
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
              </form>

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <a class="btn btn-block btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In with Google
              </a>
            </div>
            <div class="card-body">
              <a class="btn btn-block btn-dropbox" href="/auth/facebook" role="button">
                <i class="fab fa-facebook"></i>
                Sign In with Facebook
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="card">
      <div class="card-body">
        <h2> Create New Account</h2>
        <form action="/register" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Manoj">
            </div>
            <div class="form-group col-md-6">
              <label for="Last Name">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Adhikari">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="San Francisco">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>CA</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip" placeholder="94115">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Use my Current Location
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Register</button>
        </form>

      </div>
    </div>

    </div>
    </div>

    <%- include('partials/footer') %>
