
body {
  background-image: linear-gradient(-90deg, #e6ffff, #ffffff);
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.main-display{
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
