
body {
  background-image: linear-gradient(-90deg, #e6ffff, #ffffff);
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.main-display{
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-inner{
  padding-right: 10%;
  padding-left: 10%;
}
#myGroups{
  background-color: #e6ffff;
}
#myMembershipGroups{
  background-color: #ffffff;
}
